/* your code */
body{
	height:100vh;
	width:100vw;
}
table{
	border-collapse:collapse;
	border-spacing:2px;
	width:90%;
}
tbody{
	width:90%;
}
thead{
	width:90%;
}
th{
	background-color:#215A8E;
	color:white;
}
